<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Markout</string>
	<key>uuid</key>
	<string>399D1BCA-5A5C-4612-9654-0841F6414A82</string>
</dict>
</plist>
